WebContent/content/xml/login.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT users (user)+>
<!ATTLIST users
  xmlns CDATA #FIXED ''>

<!ELEMENT user (username,password)>
<!ATTLIST user
  xmlns CDATA #FIXED ''>

<!ELEMENT username (#PCDATA)>
<!ATTLIST username
  xmlns CDATA #FIXED ''>

<!ELEMENT password (#PCDATA)>
<!ATTLIST password
  xmlns CDATA #FIXED ''>