WebContent/content/xml/users.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="joined"/>
              <xs:element type="xs:string" name="role"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="donations"/>
              <xs:element name="payments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="payment" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="amount"/>
                          <xs:element type="xs:string" name="date"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>